* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
li {
    list-style: none;
}
/* ----------------------- HEADER --------------------------------------- */
.header {
    padding: 1rem;
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 1rem;
}
.header .header-p {
    align-self: center;
    text-align: center;
    color: #ffffff;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}
.header nav {
    width: 100%;
}
.header nav ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
}
.header nav ul li {
    list-style: none;
    text-wrap: nowrap;
}
.header nav ul li a{
    font-weight: bold;
    color: #007dbe;
    font-size: 12px;
}
a:visited {
    color: #9e9d9d;
}


/* ------Main Section wrapper section CSS */
.wrapper{
    width: 100%;
    background-color: #ffffff;
    height: 100%;
}

/* LOGO, Search Bar and user navigation Styles */
.information-parent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2 p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1, .div2, .div3 {
    height: 3.125rem;
    width: 100%;
    background-color: gray;
    /* padding: 1rem; */
}
.div3 nav ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}